body{
    margin: 0%;
    background-color: black;
    height: 100vh;
}

span{
    background-image:url("https://www.freeiconspng.com/thumbs/heart-icon/valentine-heart-icon-6.png");
    width:100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}